body {
    background-image: url("src/images/gradient-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contentDiv{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 auto;
}