
.contentDiv{
    border-radius: 15px;
    background: rgba(52, 51, 51, 0.4);
    padding: var(--space-3);
    width: 100%;
}

@media (max-width: 1025px) {
    .contentDiv {
        border-radius: 0;
        padding: var(--space-25);
    }
}

.flexRow {
    display: flex;
    flex-direction: Row;
    gap: var(--space-2);
    justify-content: left;
}

.flexColumn {
    display: flex;
    gap: var(--space-1);
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.spaceEvenly {
    display: flex;
    justify-content: space-evenly;
}

.marginBottom {
    margin-bottom: var(--space-5);
}

.circle {
    border-radius: 50%;
    background: rgba(52, 51, 51, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.topIndex {
    z-index: 4000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}