.resumeDiv{
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.smallSvg {
    font-size: 30px !important;
    color: #f9f8f8;
    margin: 10px 0px 0px 0px;
}

.skillTag {
    display: inline-block; /* Makes the element inline but able to have width and height */
    padding: 2px 8px; /* Adds space inside the tag, adjust as needed */
    background-color: rgba(211, 166, 255, 0.26); /* Sets the background color of the tag */
    color: #f9f8f8; /* Sets the text color */
    border-radius: 12px; /* Rounds the corners of the tag */
    font-size: var(--font-sm, 14px); /* Uses a CSS variable for the font size, or a fallback */
    text-align: center; /* Centers the text inside the tag */
    margin: 3px;
}

.skillDiv {
    display: flex;
    gap: var(--space-1);
    flex-direction: row;
    justify-content: left;
}

@media (max-width: 1025px) {
    .skillDiv {
        gap: 0;
    }

    .resumeDiv {
        gap: 0;
    }
}

@media (max-width: 500px) {
    .skillDiv {
        flex-direction: column;
    }
}