.navBar {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #defc2e;
    align-items: center;
}

.navLink {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.navLinkActive {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
}

/* media query for responsiveness
 */

@media (max-width: 1025px) {
    .navBar{
        flex-direction: row;
        font-size: 15px;
    }
}
