.navBarBig {
    font-size: 18px;
    color: #ffff00;
    align-items: center;
}

.navBarSmall {
    font-size: 15px;
    color: #ffff00;
    margin: 20px 10px 20px 0;
}

.navItem{
    margin: 2px;

}

.activeLink {
    font-weight: bold;
}
