img{
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.mainDiv {
    margin: 0 auto;
    width: 900px;
}

.homeDiv {
    display: flex;
    align-items: center;
    position: fixed;
    max-width: 300px;
    min-width:300px;
    height: 100%;
    background: repeating-linear-gradient(45deg,
    rgba(4, 5, 6, 0.56),
    rgba(4, 5, 6, 0.56) 12px,
    rgba(255, 255, 255, 0) 10px,
    rgba(255, 255, 255, 0) 20px);
}

.growDiv {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    margin-left:303px;
    z-index: 0;
    padding-top:var(--space-1);
}

@media (max-width: 1025px) {
    .homeDiv {
        position: relative;
        max-width: 100%;
        min-width:100%;
    }
    .growDiv {
        margin-left:5px;
        margin-right:5px;
    }

    .mainDiv {
        width: 100%;
    }
}

@media (max-width: 572px) {
    .homeDiv {
        position: relative;
        margin-left: 0;
        max-width: 100%;
        min-width:100%;
        min-height: 100vh;
    }
    .growDiv {
        margin-left:0;
        margin-right:0;
    }
}

