
.imgContainer{
    object-fit: contain;
    margin: 0 auto;
}

.infoDiv {
    h1{
        margin-top: 0;
    }
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border-radius: 15px;
    margin: var(--space-3) auto;
    text-align: center;
}

@media (max-width: 1025px) {
    .infoDiv {
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        border-radius: 15px;
        margin: var(--space-3) auto;
        text-align: center;
        gap: 57px;
    }

    .imgContainer{
        margin: 0;
    }
}




