img{
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.imgContainer{
    object-fit: contain;
    margin: 20px;
}

.infoDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    border-radius: 15px;
    margin: var(--space-3) auto;
    padding: var(--space-4);
}



