header {
    position: sticky;
    top: 0;
    gap: 60px;
    display: flex;
    padding: 10px;
    font-weight: 600;
    width: 100%;
    justify-content: space-between;
    background: #0a0a0a;
    z-index: 3;
}
