header {
    position: sticky;
    top: 0;
    gap: 60px;
    display: flex;
    background-color: #060606;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    font-weight: 600;
    max-width: 900px;
}